.room {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  outline: 1px solid;
}

.room a {
  padding: 0.2rem;
  display: flex;
  align-items: center;
}

.room img {
  height: 2rem;
  width: 2rem;
}
